body {
  display: flex;
  justify-content: center;
  background-color: rgb(136, 238, 238);
}

.btn {
  background-color: yellow;
}

.send {
  background-color: yellow;
}
.save {
  background-color: lime;
}

.btn-delete {
  background-color: yellow;
}

.btn-edit {
  background-color: yellow;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  height: 450px;
  background-color: gold;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 3px;
}

.send {
  margin-top: 30px;
  width: 255px;
  height: 35px;
  font-size: 20px;
  border-radius: 3px;
}
